$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-size: 14px;
$base-font-color: #6c6c6c;
$base-line-height: 24px;

$mobile-size: 560px;
$small-size: 840px;
$medium-size: 1000px;
$big-size: 1130px;